.contact-button {
    background-color: brown;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.5s, transform 0.5s;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.social-media a i {
    font-size: 2.5rem;
    color: brown;
    transition: transform 0.3s;
}

.social-media a i:hover {
    transform: scale(1.1);
}
